/*----------------------------------------*\
	#LINK
\*----------------------------------------*/

/* *
 * Primary
 */
.c-link-primary {
	text-decoration: underline;
	text-underline-offset: 6px;

	color: $color-text-primary;
}

.c-link-primary:hover,
.c-link-primary:focus {
	color: $color-text-primary;
}

/* *
 * Secondary
 */
.c-link-secondary {
	text-decoration: underline;
	text-underline-offset: 6px;

	color: $color-text-red;
}

.c-link-secondary:hover,
.c-link-secondary:focus {
	color: $color-text-red;
}
