/*----------------------------------------*\
	#BUTTON
\*----------------------------------------*/

/* *
 * Primary
 */
.c-btn-primary {
	border-radius: 10px;

	background-color: var(--color-btn-primary);
	color: var(--color-text-white);
}

.c-btn-primary:hover,
.c-btn-primary:focus {
	background-color: var(--color-btn-primary-hover);
	color: var(--color-text-white);
}

/* *
 * Primary outline
 */
.c-btn-outline-primary {
	border: 1px solid var(--color-border-primary);
	border-radius: 10px;

	background-color: var(--color-btn-primary-outline);
	color: var(--color-text-primary);
}

.c-btn-outline-primary:hover,
.c-btn-outline-primary:focus {
	border: 1px solid var(--color-border-primary-dark);

	color: var(--color-text-primary-dark);
}
