/*----------------------------------------*\
	#INPUT
\*----------------------------------------*/

.c-input {
	padding: 0.5rem;
	border-radius: 10px;
	border: 1px solid $color-border-gray-light;

	background: $color-bg-gray-lightest;
}

.c-input--withError {
	border: 1px solid $color-red;
}
.c-input--withError:focus-visible {
	outline: 1px solid $color-red;
}
