.Login {
	flex-grow: 1;

	display: flex;
}

.Login__body {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	padding: 2rem 3.5rem;
}

.Login__logo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-bottom: 1.5rem;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid $color-border-gray-light;
}

.Login__logo-link img {
	width: 13rem;
	object-fit: cover;
}

.Login__page-title {
	margin-bottom: 0;
	font-size: 1.5rem;
}

.Login__submit-error {
	align-self: center;

	max-width: 60ch;
	margin-bottom: 0;

	color: $color-text-red;
}

.Login__form {
	display: flex;
	flex-direction: column;
}

.Login__form-row {
	display: flex;
	flex-direction: column;

	margin-bottom: 1.5rem;
}

.Login__form-row label {
	margin-bottom: 1rem;
}

.Login__form-row p {
	align-self: flex-end;

	margin-top: 0.5rem;
	margin-bottom: 0;
	font-size: 0.75rem;

	color: $color-text-red;
}

.Login__submit-btn {
	align-self: center;

	width: 100%;
	max-width: 320px;
	padding: 0.5rem 1rem;
}

.Login__signUp-line {
	align-self: center;

	margin-bottom: 0;
	font-size: 0.9rem;
}

.Login__signUp-line a {
	margin-right: 0.5rem;
	text-decoration: none;

	color: $color-text-primary;
}

@media screen and (max-width: 992px) {
	.Login__form {
		align-self: center;

		width: 65%;
	}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
	.Login__form {
		width: 95%;
	}
}

@media screen and (max-width: 360px) {
}
