.Header {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	padding: 1rem 1.5rem;
	margin-bottom: 1rem;
}

.Header__logo {
	display: flex;
	align-items: center;

	margin-right: 1.625rem;
	padding-right: 1.625rem;
	border-right: 2px solid var(--color-border-gray-lightest);
}

.Header__logo img {
	width: 10rem;
}

.Header__navbar {
	display: flex;
	gap: 1.5rem;

	padding: 0;
	margin: 0;
	list-style: none;
}

.Header__navbar-item {
}

.Header__profile-btn {
	margin-left: auto;
}

.Header__menu-btn {
	margin-right: auto;

	display: none;
}

@media screen and (max-width: 768px) {
	.Header__logo {
		border-right-color: transparent;
	}

	.Header__navbar {
		display: none;
	}

	.Header__menu-btn {
		display: block;
	}
}
