.Breadcrumb {
	display: flex;
	align-items: center;

	height: 3rem;
	padding: 0 1.5rem;
	border-top: 1px solid $color-border-gray-light;
	border-bottom: 1px solid $color-border-gray-light;
}

.Breadcrumb__list {
	display: flex;

	padding: 0;
	margin: 0;
	list-style: none;
}

.Breadcrumb__item:not(:last-of-type) {
	margin-left: 1rem;

	color: $color-subtext;
}

.Breadcrumb__item:not(:last-of-type):after {
	content: '>';
	padding-right: 0.9rem;
}

.Breadcrumb__item:last-of-type {
	color: $color-red;
}

.Breadcrumb__item a {
	text-decoration: none;
	color: inherit;
}
