/*----------------------------------------*\
	#COLORS
\*----------------------------------------*/

:root {
	/* Brand */

	--color-primary: #43b5f6;
	/* https://maketintsandshades.com/#43b5f6 */
	--color-primary-light-10: #56bcf7;
	--color-primary-light-20: #69c4f8;
	--color-primary-light-30: #7bcbf9;
	--color-primary-light-40: #8ed3fa;
	--color-primary-dark-10: #3ca3dd;
	--color-primary-dark-20: #3691c5;
	--color-primary-dark-30: #2f7fac;
	--color-primary-dark-40: #286d94;

	/* Tokens */

	--color-white: #ffffff;
	--color-blue-navy-dark: #000034;
	--color-gray: #80858f;
	--color-gray-light: #cccccc;
	--color-gray-lighter: #efefef;
	--color-gray-lightest: #f4f7fa;
	--color-red: #ff5f58;
	--color-green: #4caf50; /* Material - Green 500 */

	/* Background */

	--color-bg: var(--color-white);
	--color-bg-primary: var(--color-primary);
	--color-bg-gray-light: var(--color-gray-light);
	--color-bg-gray-lighter: var(--color-gray-lighter);
	--color-bg-gray-lightest: var(--color-gray-lightest);
	--color-bg-red: var(--color-red);

	/* Text */

	--color-text: var(--color-blue-navy-dark);
	--color-subtext: var(--color-gray);
	--color-text-primary: var(--color-primary);
	--color-text-primary-dark: var(--color-primary-dark-20);
	--color-text-white: var(--color-white);
	--color-text-red: var(--color-red);
	--color-text-green: var(--color-green);

	/* Buttons */

	--color-btn-primary: var(--color-primary);
	--color-btn-primary-hover: var(--color-primary-dark-10);
	--color-btn-primary-outline: var(--color-white);

	--color-btn-neutral: var(--color-gray);

	/* Links */

	--color-link: var(--color-primary);
	--color-link-hover: var(--color-primary-dark-10);

	/* Borders */
	--color-border-primary: var(--color-primary);
	--color-border-primary-dark: var(--color-primary-dark-20);
	--color-border-gray-light: var(--color-gray-light);
	--color-border-gray-lighter: var(--color-gray-lighter);
	--color-border-gray-lightest: var(--color-gray-lightest);
	--color-border-red: var(--color-red);
}
