/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/

/**	Text color
	====================================================================== */

.u-textColor-main {
	color: $color-text;
}

.u-textColor-primary {
	color: $color-text-primary;
}

.u-textColor-sub {
	color: $color-text-primary;
}

.u-textColor-green {
	color: $color-text-green;
}

.u-textColor-red {
	color: $color-text-red;
}

.u-textColor-white {
	color: $color-text-white;
}

/**	Border color
	====================================================================== */

.u-borderColor-red {
	border-color: $color-border-red;
}

/**	Misc
	====================================================================== */

.u-remove-btn-focus-shadow:focus {
	box-shadow: none;
}

.u-overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
